[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"
torch = {version = "*", extras = ["cuda"], extra_index_url = "https://download.pytorch.org/whl/cu118"}
torchvision = {version = "*", extra_index_url = "https://download.pytorch.org/whl/cu118"}
torchaudio = {version = "*", extra_index_url = "https://download.pytorch.org/whl/cu118"}
requests = "*"
scikit-learn = "*"
nbformat = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
